img{
    width: 30%;
    float: left; 
    margin: 1.66%;
}
p{
    font-family: 'Baloo Paaji 2';
    margin-left: 1.66%;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
    width: 30%;
}
/*10/6 = 1.66*/